/* --/-- START SECTION-1 --/--  */
body {
  background-color: var(--white);
}
#sec-1 {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  padding-top: 73px;
}
.sec1-card {
  display: flex;
  padding: 30px;
  background-color: var(--card-background);
  border-radius: 22px;
  max-width: 300px;
}
.sec1-card img {
  width: 100%;
}
.s1card-title {
  margin-left: 26px;
}
.s1card-title h1 {
  font-size: 36px;
  color: var(--black);
}
.s1card-title p {
  font-size: 16px;
  line-height: 19px;
  color: var(--gray);
  font-weight: 500;
}

/* --/-- END SECTION-1--/--  */

/* --/-- START SECTION-2--/--  */

#sec-2 {
  padding: var(--padding);
  padding-top: 135px;
}
.sec2-box {
  display: grid;
  grid-template-columns: auto auto auto;
  /* justify-content: space-between; */
  gap: 50px;
  margin-top: 60px;
  justify-content: center;
  /* margin: 0 auto; */
}
.sec2-card {
  max-width: 334px;
  position: relative;
}
.sec2-content {
  text-align: center;
}
.sec2-content p {
  font-size: 1.6rem;
  color: var(--button-color);
}
.sec2-content h1 {
  font-size: 3.6rem;
  color: var(--black);
}
.sec2-card > img {
  padding: 30px 40px;
  background-color: var(--card-background);
}
.sec2-card h2 {
  font-size: 24px;
  color: var(--black);
}
.sec2-card svg {
  display: block;
}
.s2-card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s2-card-title * {
  margin-top: 10px;
}
.overline {
  font-size: 20px;
  color: var(--gray);
  text-decoration: line-through;
}
.none {
  color: var(--black);
  font-size: 24px;
  font-weight: 700;
}
.hover-icons {
  position: absolute;
  left: 50%;
  top: 0;
  transition-duration: 0.5s;
  opacity: 0;
}
.hover-icons img {
  display: block;
  transition: 0.2s;
  margin-top: 8px;
}
.hover-icons img:hover {
  transform: scale(1.1);
}
.sec2-card:hover .hover-icons {
  display: block;
  left: 85%;
  opacity: 1;
}
#view {
  text-align: center;
  margin: 70px 0;
}
#view a {
  padding: 10px 30px;
  background: var(--button-color);
  border-radius: 15px;
  color: white;
  font-size: 15px;
}
#view a:hover {
  background-color: #223894;
}

/* --/-- END SECTION-2 --/--  */

/* --/-- SLIDE START --/--  */
#sec-3 {
  max-width: 1100px;
}
.slide-card {
  display: flex;
  align-items: center;
  max-width: 524px;
  padding: 30px 34px;
  border-radius: 22px;
  background: var(--card-background);

  /* margin: 0 auto; */
}
#slide {
  margin-top: 50px;
}
.slide-content {
  margin-left: 28px;
}
.slide-content h2 {
  font-size: 24px;
  color: var(--black);
  font-weight: 700;
}
.slide-content p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  margin: 10px 0;
  color: var(--gray);
}
.owl-item {
  width: 524px !important;
}
#slide .owl-dots .owl-dot span {
  width: 18px;
  height: 18px;
  margin: 5px 7px;
  background: var(--button-color) !important;
  border-radius: 30px;
}

#slide .owl-nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}
#slide .owl-nav .owl-prev,
#slide .owl-nav .owl-next {
  padding: 10px !important;
  background-color: var(--card-background);
  transition: 0.4s;
}
#slide .owl-nav .owl-prev:hover,
#slide .owl-nav .owl-next:hover {
  background-color: blue;
}
/* --/-- SLIDE END --/--  */

/* --/-- SECTION-4 SRART --/--  */

#sec-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--card-background);
  border-radius: 22px;
  padding: var(--padding);
  padding: 33px 113px 43px;
  margin: 135px auto 91px;
  max-width: 1100px;
}
.sec4-content h1 {
  font-weight: 700;
  font-size: 36px;
  color: var(--black);
}
.sec4-content p {
  font-weight: 500;
  font-size: 16px;
  color: var(--gray);
  margin: 5px 0 20px;
}
.email {
  padding: 20px 9px 20px 30px;
  border-radius: 15px;
  background-color: white;
  display: inline-block;
}
.email input {
  border: none;
  font-size: 15px;
}
.email label {
  background: #3858d6;
  border-radius: 9px;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 27px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
.email label:hover {
  background-color: #18157e;
}
.sec4-img img {
  width: 100%;
}
footer {
  background-color: #0b0b0b;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}
.footer p {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 1000px) {
  #sec-1 {
    flex-direction: column;
    gap: 20px;
  }
  #sec-1 .sec1-card {
    width: 100%;
    max-width: none;
  }
}
@media (max-width: 825px) {
  .email {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .email input,
  .email label {
    width: 100%;
  }
  .email label {
    margin-top: 20px;
  }
  #sec-4 {
    padding: 50px;
    flex-direction: column;
    margin: 0;
  }
}
/* --/-- SECTION-4 END --/--  */
